<div [@shellRoutes]="animationState">
  <router-outlet (activate)="onActivate()"></router-outlet>
</div>

<ng-template #templateNotification let-notification>
  <div class="ant-notification-notice-content background">
    <div class="ant-notification-notice-icon">
      <span class="ant-notification-notice-icon">
        <i
          nz-icon
          nzType="info-circle"
          nzTheme="outline"
          style="color: #FFFFFF;"></i>
      </span>
      <div class="ant-notification-notice-message">prueba</div>
      <div class="ant-notification-notice-description">prueba</div>
    </div>
  </div>
</ng-template>