@import '../../../variables.scss';

.auth {
  min-height: 100vh;
  background-image: url("/assets/images/fondo-login.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.auth-header {
  padding: 30px;

  .img-box {
    width: 140px;
  }
}

.latest-row {
  z-index: 1;
  position: fixed;
  bottom: 15px;
  left: 0;
  min-width: 100%;
}

.auth-footer {
  padding: 30px;
  margin-bottom: 80px;

  .img-box {
    width: 70px;
  }
}