$mobile-width: 612px;
$tablet-width: 812px;
$desktop-width: 1024px;
$max-width: 1600px;

$primary-color: var(--primary-color);
$body-background: var(--background-color);
$font-titles: var(--font-titles-color);
$second-bg: var(--second-bg-color);
$green-color: var(--green-color);
$background-green-color: var(--background-green-color);
$red-color: var(--red-color);
$warning-color: var(--warning-color);
$background-warning-color: var(--background-warning-color);
$background-image-list: var(--background-image-list-color); 
$background-json-viewer: var(--background-json-viewer-color);
$background-montly-report: var(--background-montly-report-color);
$border-folder-box: var(--border-folder-box-color);
$border-top-row: var(--border-top-row-color);
$folder-row-hover:var(--folder-row-hover-color);
$border-bottom-rows: var(--border-bottom-rows-color);
$line-graph: var(--line-graph-color);
$gray-color: var(--gray-color);
$box-shadow-color: var(--box-shadow-color);
$border-details-color: var(--border-details-color);
$gray-light: #72849a  !default; 
$background-blocked: var(--background-blocked);